<div class="p-5">
  <div class="list-group list-group bids">
    <% for( let i = 0; i < item.contributors.length; i++ ) { %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><%= item.contributors[i].payment.user.fullName() %></div>
        <% 
          const isInvitePending = item.invites.some(invite => invite.user._id.toString() === item.contributors[i].payment.user._id.toString());
        %>
        <% if (isInvitePending) { %>
          <span class="text-danger">Invite Pending</span>
        <% } else if (item.contributors[i].payment.paid) { %>
          <span class="text-success">Paid</span>
        <% } else { %>
          <span class="text-warning">Payment Pending</span>
        <% } %>
      </div>
      <span class="badge text-bg-primary rounded-pill bid">$<%= item.contributors[i].payment.amount %></span>
    </li>
    <% } %>
  </div>
</div>