<div class="p-5 py-3">
  <div class="list-group list-group bids">
    <% for( let i = 0; i < contribution.contributors.length; i++ ) { %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto d-flex">
        <img class="rounded-circle" width="40" height="40" src="<%= contribution.contributors[i].user.imgURL %>" alt="">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= contribution.contributors[i].user.fullName() %></div>
          <%
            const isInvitePending = contribution.invites.some(invitedUser => invitedUser._id.toString() === contribution.contributors[i].user._id.toString());
          %>
          <% if (isInvitePending) { %>
            <span class="text-danger">Invite Pending</span>
          <% } else if (contribution.contributors[i].paid) { %>
            <span class="text-success">Paid</span>
          <% } else { %>
            <span class="text-warning">Payment Pending</span>
          <% } %>
        </div>
      </div>
      <span class="badge text-bg-primary rounded-pill bid">$<%= contribution.contributors[i].amount.toFixed(2) %></span>
    </li>
    <% } %>
  </div>
</div>