<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="PaySplit simplifies payment sharing by allowing groups to easily pool money and automatically calculate remainders, whether splitting equally or contributing different amounts. Real-time updates ensure everyone stays on the same page, making settling payments with friends easy.">
  <meta name="application-name" content="PaySplit">
  <meta name="author" content="Jesulayomi Michael Aina">
  <meta name="generator" content="HTML">
  <meta name="keywords" content="PaySplit, payment sharing, group payments, split payments, money pooling, real-time updates, payment calculator, friends, finance, budgeting">
  <meta name="creator" content="Jesulayomi Michael Aina">
  <meta name="publisher" content="Jesulayomi Michael Aina">
  <meta name="robots" content="index, follow">
  <meta property="og:type" content="website">
  <meta property="og:title" content="PaySplit | Simplify Payment Sharing">
  <meta property="og:description" content="PaySplit simplifies payment sharing by allowing groups to easily pool money and automatically calculate remainders, whether splitting equally or contributing different amounts.">
  <meta property="og:url" content="https://paysplit.jesulayomi.tech">
  <meta property="og:site_name" content="PaySplit">
  <meta property="og:image" content="https://paysplit.jesulayomi.tech/img/split.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="PaySplit | Simplify Payment Sharing">
  <meta name="twitter:description" content="PaySplit simplifies payment sharing by allowing groups to easily pool money and automatically calculate remainders, whether splitting equally or contributing different amounts.">
  <meta name="twitter:image" content="https://paysplit.jesulayomi.tech/img/split.png">
  <meta name="twitter:site" content="@jesulayomi11">
  <meta name="twitter:creator" content="@jesulayomi11">
  <title>PaySplit | <%= title %></title>
  <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />
</head>