<nav class="navbar w-100 p-3 mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="/img/icon.png" alt="PaySplit" width="40" height="40" />
    </a>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row">
      <% if (user) { %>
        <li class="nav-item p-2">
          <a class="btn btn-lg bg-white rounded-pill shadow-sm text-success" href="/spend"><i class="fa fa-money"></i> Spending</a>
        </li>
        <li class="nav-item p-2">
          <a class="btn btn-lg bg-white rounded-pill shadow-sm text-danger" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
        </li>
      <% } else { %>
        <li class="nav-item p-2">
          <a class="text-primary btn btn-lg rounded-pill shadow-sm bg-white" href="/login"><i class="fa fa-sign-in"></i> Login</a>
        </li>
        <li class="nav-item p-2">
          <a class="btn btn-lg btn-primary rounded-pill shadow-sm" href="/signup"><i class="fa fa-user-plus"></i> Signup</a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>