<!DOCTYPE html>
<html>
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>

  <div class="container-fluid p-2 p-md-3 p-lg-5">
    <div class="bg-light text-center p-5">
      <h1>PaySplit</h1>
      <img width="250px" src="img/image.png" alt="Bidds" />

      <p class="p-3">Login or Signup to share payments with friends</p>

      <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Login</a>
      <a href="/signup" class="btn btn-success"><span class="fa fa-user"></span> Signup</a>
    </div>
  </div>

<%- include('chunks/footer') -%>