<!DOCTYPE html>
<html lang="en">
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>

  <div class="container-fluid p-2 p-md-3 p-lg-5">
    <div class="bg-white text-center p-5">
      <h1>PaySplit</h1>
      <img class="img-fluid" style="min-width: 160px;" src="img/icon.png" alt="PaySplit" />

      <p class="p-3">Login or Signup to share payments with friends</p>

      <a href="/login" class="btn btn-outline-primary rounded-pill btn-lg mx-2"><i class="fa fa-sign-in"></i> Login</a>
      <a href="/signup" class="btn btn-primary rounded-pill btn-lg mx-2"><i class="fa fa-user-plus"></i> Signup</a>
    </div>
  </div>

<%- include('chunks/footer') -%>