<!DOCTYPE html>
<html>
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>

  <div class="container-fluid p-5">
    <div class="row justify-content-center">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><span class="fa fa-user-plus"></span> Signup</h1>

      <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <form action="/signup" method="post">
        <div class="input-group mb-3">
          <label class="input-group-text" id="firstName">First Name</label>
          <input type="text" class="form-control" placeholder="Enter your First Name" name="firstName" aria-label="First Name" aria-describedby="firstName" required />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" id="lastName">Last Name</label>
          <input type="text" class="form-control" placeholder="Enter your Last Name" name="lastName" aria-label="Last Name" aria-describedby="lastName" required />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" id="email">Email</label>
          <input type="email" class="form-control" placeholder="Enter your email" name="email" aria-label="Email" aria-describedby="email" required>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" id="password">Password</label>
          <input type="password" class="form-control" placeholder="Enter your password" name="password" aria-label="Password" aria-describedby="password" required>
        </div>
        <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-user-plus"></i> Signup</button>
      </form>

      <hr />

      <p>Already have an account? <a href="/login">Login</a></p>
      <p>Or go <a href="/">home</a>.</p>
    </div>
    </div>
  </div>
<%- include('chunks/footer') -%>
